<!-- 헤더 -->
<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="nav-wrapper">
                <div class="logo">
                    <a href="index.html"><img src="../img/LabLogo.png" alt="NGN Lab Logo" class="logo-img"></a>
                </div>
                <button class="mobile-menu-btn" id="mobileMenuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="nav-menu" id="navMenu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="project.html">Project</a></li>
                    <li class="dropdown">
                        <a href="#">Team</a>
                        <ul class="dropdown-menu">
                            <li><a href="professor.html">Professor</a></li>
                            <li><a href="members.html">Research Members</a></li>
                            <li><a href="alumni.html">Alumni</a></li>
                        </ul>
                    </li>
                    <li><a href="publications.html">Publications</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


